<%- include('includes/head.ejs') %>
</head>
<body>
<%- include('includes/navigation.ejs') %>
<h1>Users</h1>
<% if (users.length > 0) { %>
    <ul>
        <% for (let user of users) { %>
            <li><%= user.username %></li>
        <% } %>
    </ul>
<% } else { %>
    <p>No users found</p>
<% } %>
<%- include('includes/end.ejs') %>