body {
    margin: 0;
    padding: 0;
    background: #2A7A8C;
    font-family: sans-serif;
}

.main-header {
    width: 100%;
    height: 3rem;
    background: #063540;
    margin-bottom: 2rem;
}

.main-header__nav {
    height: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.main-header__list {
    display: flex;
    display-model: row;
    height: 100%;
    margin: 0;
    padding: 0;
    align-content: center;
}

.main-header__list-item {
    width: 100%;
    list-style: none;
    margin: 0 0.8rem;
    padding: 2rem;
    background: #c6a993;
    border: none;
}

.main-header__list-item a {
    text-decoration: none;
    color: #063540;
    font-size: 1.2rem;
    margin: auto;
}

.main-header__list-item a:hover,
.main-header__list-item a:active,
.main-header__list-item a.active {
    color: #2A7A8C;
}